/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/weather.iml
/.idea/workspace.xml
/db.sqlite3
/weather.json
/~$cities.xlsx
/.idea/dataSources/a5fd4241-9305-48c3-98d0-980159041bbf/storage_v2/_src_/schema/main.uQUzAA.meta
/.idea/dataSources/a5fd4241-9305-48c3-98d0-980159041bbf.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
